# Supabase Connection Strings for Prisma (Template)
DATABASE_URL="postgresql://postgres.nocrytgczzhxvylbannu:[YOUR_PASSWORD]@aws-0-[YOUR_REGION].pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.nocrytgczzhxvylbannu:[YOUR_PASSWORD]@aws-0-[YOUR_REGION].pooler.supabase.com:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL="https://nocrytgczzhxvylbannu.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_GI8MS5BjFm-FmLI9E4Z7OQ_O9nmGW7g"
